.template-editor {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  width: fit-content;
}

.container-1 {
  position: fixed;
}

.container-2 {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.template-tree {
  margin-left: 220px;
  max-width: 700px;
  overflow-x: auto;
}

.btn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background: #414141;
  color: #fff;
}

.show-btn {
  display: block;
  margin: calc(50vh - 20px) auto 0;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 18px;
  border: none;
  border-radius: 3px;
  background: #414141;
  color: #fff;
}